@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@400;600;700&family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dots:not(:last-child)::after {
    content: '\2022';
    position: absolute;
    font-size: 1.5em;
    margin-left: 2.2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #fba311;
  }

  .rounded-b-3xl::before {
    content: '';
    position: absolute;
    top: 0px;
    height: 48px;
    left: -24px;
    width: 24px;
    border-top-right-radius: 24px;
    box-shadow: 0 -24px 0 0 #f0f2f4;
  }

  .rounded-b-3xl::after {
    content: '';
    position: absolute;
    top: 0px;
    height: 48px;
    right: -24px;
    width: 24px;
    border-top-left-radius: 24px;
    box-shadow: 0 -24px 0 0 #f0f2f4;
  }

  .h2-title {
    @apply mt-2 text-pretty font-quicksand text-3xl font-bold tracking-wide text-dark sm:text-5xl lg:text-balance;
  }

  .h4-eyebrow {
    @apply font-quicksand text-sm font-bold uppercase tracking-wide text-dark;
  }

  .i-before {
    @apply inline-flex items-center before:mr-2 before:content-vacuum;
  }

  .p-subtitle {
    @apply mt-6 text-base/8 text-indigo;
  }
}
